<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nedusoftware.myapplication">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/xiaohui"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="lBSG74ln9eKnXrKnBC5iec6QK8FQDeXM" />

        <activity
            android:name=".SplashActivity"
            android:label="掌上校园"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".download" />
        <activity android:name=".DOverview" />
        <activity android:name=".Xiaoyuanfengguang" />
        <activity android:name=".Sousuo" />
        <activity android:name=".Start" />
        <activity android:name=".AddActivity" />
        <activity android:name=".Robot" />
        <activity android:name=".Lostfound" />
        <activity android:name=".Xiangce" />
        <activity android:name=".Zhuyaowangzhan" />
        <activity android:name=".login.Login" />
        <activity android:name=".login.Register" />
        <activity android:name=".kuaidi.Kd" />
        <activity android:name=".AddLove" />
        <activity android:name=".Loction" />
        <activity android:name=".Love" />
        <activity android:name=".MyLocation" />

    </application>

</manifest>